
.question {
    text-align: center;
    color: #c8dff7;
    padding-top: 6px;
}

/*header css starts here*/


body {

    margin: 5px;
    line-height: 15px;
    font-size: 16px;
    font-weight: 400px;
    font-family: sans-serif;
    background-color: #79CFCE;
    color: white;
 }

.quest1 {
    font-size: small;
    display:flex;
    color: #bee;
    justify-content:center;
   
 }

 /*.st2 {
    color: green;
    font-weight: bold;
    
 }*/

.subtitle {
  color: #c8dff7;
  text-align: center;
  padding-right: 110px;
  padding-top: 1px; 

}

 /.sbutton {
    background-color: white;
    color: white;
    border: none;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    color: #79CFCE;
}
.nbutton {
    background-color: white;
    color: white;
    border: none;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    color: #79CFCE;
}

.answer {
    
    font-size: 16px;
    border-radius: 30px;
    color: white;
    text-align: left;
    border-bottom-style:  5px solid blue;
   
    
}

